# DB_CONNECTION=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=blog_api_db
# DB_USERNAME=root
# DB_PASSWORD=

DB_INTERNAL=postgresql://meheraz:u98Tz0YLbnIHyYyd1YQIuFaqzUwAWHFi@dpg-daek0o9t0dsc73ai8ljg-a/blog_db_kjin
DB_EXTERNAL=postgresql://meheraz:u98Tz0YLbnIHyYyd1YQIuFaqzUwAWHFi@dpg-daek0o9t0dsc73ai8ljg-a.oregon-postgres.render.com/blog_db_kjin